doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='/javascripts/lib/require.js')
		script(type='text/javascript', src='/javascripts/lib/jquery-1.8.0.min.js')
		script(type='text/javascript', src='/javascripts/lib/underscore-min.js')
		script(type='text/javascript', src='/javascripts/lib/backbone.js')
		script(type='text/javascript', src='/javascripts/lib/bootstrap.js')	
		script(type='text/javascript', src='/javascripts/galleryMain.js')		
	body
		block content
